@font-face {
    font-family: 'Instagram Sans Script';
    src: url('fonts/InstagramSansScript-Regular.woff2') format('woff2'),
         url('fonts/InstagramSansScript-Regular.woff') format('woff'),
         url('fonts/InstagramSansScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    
    font-family: 'Instagram Sans Script', sans-serif;

    box-sizing: border-box;
}

.container {
    display: flex;
    overflow: hidden;
}

.sidebar {
    width: 20vw;
    border-right: 0.5px solid black;
    overflow: hidden;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#brand-logo {
    width: 10vw;
    padding: 5px;
    margin: 10px 5px 30px 5px;
    max-width: 500px;
    display: block;
}

.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: 15px;
}

.sidebar-item > p {
    padding: 5px;
    margin-top: 5px;
    margin-left: 20px;
}

.fa-solid {
    font-size: 25px;
    padding: 5px;
}

.Profile-img {
    margin: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card {
    border: none;
    border-radius: 10px;
    height: auto;
    width: 450px;
    margin-bottom: 30px;
    position: relative;
}

.main-img {
    width: 100%;
    max-width: 450px;
    height: auto;
}

.stories {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
}

.stories::-webkit-scrollbar {
    display: none;
}

.story {
    display: inline-block;
    text-align: center;
    padding-right: 10px;
}

.story > p {
    font-size: 12px;
}

.story > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.next-arrow {
    position: absolute;
    right: 10px;
    top: 15px;
    color: black;
    background-color: wheat;
    opacity: 0.8;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bolder;
}

.handle-name {
    align-items: center;
    display: flex;
}

.icone-area, .comment {
    display: flex;
    justify-content: space-between;
}

.caption-area, .comment-area {
    padding: 5px;
}

.comment {
    font-size: 10px;
}

.Add-comment {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #888888;
    padding: 10px;
    margin-bottom: 5px;
}

/* إخفاء topbar و bottom-bar في الشاشات الكبيرة */
.topbar, .bottom-bar {
    display: none;
}

/* إظهار topbar و bottom-bar في الشاشات الصغيرة */
@media screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }

    .main {
        width: 100vw;
        box-sizing: border-box;
    }

    .card {
        width: 90vw;
    }

    .topbar, .bottom-bar {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: white;
        align-items: center;
    }

    .topbar {
        top: 0;
       
    }

    .topbar > i {
        padding: 10px;
    }

    #brand-logo {
        width: 20vw;
        margin: 0;
        padding: 0;
    }

    .bottom-bar {
        bottom: 0;
        padding: 10px;
        box-sizing: border-box;
    }
}